__pycache__/
*.pyc
*.csv
*.json
*.xlsx
*.html
*.md
*.pkg
*.pyz
*.spec
*.egg-info/
build/
dist/
dapine.exe
cloud_data/
!examples/*.dap
!examples/*.xlsx
!examples/tests/*.dap
!README.md
!TUTORIAL.md
!docs/*.html
8 A - PEN NO.*